/* :root{
    background-color:#e74c3c;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
text-align: center;
justify-content: center;
box-shadow: black 12px 12px 12px 12px;
border-radius: 22px;
}

#exam{
text-align: left;
box-shadow: black 12px 12px 12px 12px;
border-radius: 22px;

}

/* .answer-button{
display: none;

} */

/* #timer{
    box-shadow: 20px black;
    text-align: center;
    
} */ 

/* Contains the  variables that are controlled from javascript*/
:root{
    --qAlignment: center;
    --startBtn-display: inline;
    --content-width: 50vw;
    --status-border-width: 0px;
}

/* Styling for the entire page */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Background color and text color styling */
body{
    background: #00004B;
    color: #8046B0;
}

/* Styling for the header at the top of the page */
header{
    display: flex;
    justify-content: space-between;
    height: 7vh;
    padding: 10px;
}

/* Styling for the main tag on the page */
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: var(--qAlignment);
    height: 93vh;
    width: var(--content-width);
    margin: 0 auto;
    padding-top: 10vh;
}

/* General styling for every h1 element */
h1{
    margin: 5px 0px;
}

/* General styling for all buttons */
button{
    padding: 2px;
    margin: 2px 0;
    font-size: 16px;
    background-color: #4A0C7D;
    color: #9e57d8;
    border-radius: 5px;
    border: #9e57d8 solid 1px;
}

/* Sets the width of the scoreboard to be 100% */
ol{
    width:100%;
}

/* When the highscores load, starting with the first element 
the background color will alternate */
li:nth-child(odd){
    background-color: #32328b;
}

/* Styles the content-area section */
.content-container{
    display: flex;
    flex-direction: column;
    align-items: var(--qAlignment);
    width:100%;
}

/* Styles the start quiz button on the landing page */
#quiz-button{
    padding: 5px;
    margin: 10px;
}

/* Styling for the submit button on the initials page */
#submitButton{
    margin: 0px 10px;
}

/* Styling for the initials input textbox */
#initialsInput{
    display: var(--startBtn-display);
    margin: 10px 0px;
    font-size: 16px;
}

/* Styling for the text block that relays if the answer is correct or incorrect */
#infoBox{
    display:flex;
    justify-content: space-between;
    margin-top: 5px;
    border-top: var(--status-border-width) solid #c9a9e4;
    color: #c9a9e4;
    width: 50%;
}